.dateField {
    height: 30px;
    padding: 4px 8px;
    width: 80%;
    border: .5px solid grey
}

.dropdownContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.dropdownItem {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 4px 12px 4px 0;
    background: #FAF7F1;
    border-radius: 16px;
    font-weight: 600;
    padding: 2px 8px
}

.closeIcon {
    color: #6F3D17;
    font-size: 12;
    margin-left: 8px;
    cursor: pointer
}

.filterOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70vw;
    background: black;
    z-index: 75567576;
    height: 100vh;
    opacity: 70%
}